<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Book Scanner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Inter:opsz@14..32&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <h1 id="scanbook">Scan Book</h1>
    <div class="container">
      <div id="reader"></div>

      <div id="result">Waiting for barcode...</div>
      <div id="book" class="endresult"></div>
      <div class="spacer"></div>
      <div id="anotherbook"></div>
    </div>
    <script src="https://unpkg.com/html5-qrcode"></script>

    <script src="{{ url_for('static', filename='scanner.js') }}"></script>
  </body>
</html>
